.Rproj.user
.Rhistory
.RData
.*.swp
libs/
other-stuff/
README.html
BUILDING.html
site/
distance/distance-*.html
dsm/dsm-*.html
distance/distance-*_files
distance/distance-*_cache
dsm/dsm-*_files
dsm/dsm-*_cache
